:root {

    --icon-location: "\f001";
    --icon-tenant: "\f016";
    --icon-collection: "\f016";
    --icon-resource: "\f011";
}

.container {
  display: flex;
  background-color: #161719;
  color: #a3a8ae;
  position: relative;
  box-sizing: border-box;
  height: initial;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
  min-width: 100px;
  width: 200px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 5px;
  border-right: 1px solid #27292c; /*rgba(115, 170, 100, 0.3);*/
}

.global_scroller{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.tree_view_scroller {
  border-image: none;
  border-bottom: 1px solid #111314;
  order: 0;
  border-width: 0 0 1px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
}

.tree_view_resizer {
  right: 0px;
  width: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: col-resize;
  z-index: 3;
  -webkit-user-select: none;
}

.tree_wrapper {
  padding: 5px 0 5px 0;
  /*margin-bottom: 5px;*/
  margin-bottom: -5px;
  overflow: visible;
  /*overflow-x: hidden;*/
  /*
  & span {
    word-break: break-all;
  }*/
}

.tree_list {
  outline: none;
  font-size: 1em;
  flex-grow: 1;
  flex-shrink: 0;
  isolation: isolate;
  min-width: -webkit-min-content;
  min-height: 100%;
  padding-left: 5px;
  padding-right: 10px;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}

.tree_list::before {
  margin-top: 0;
  content: "";
  position: fixed;
  pointer-events: none;
  z-index: 1;
  margin-top: 0.5em;
  margin-left: -5px;
  height: 3em;
  width: 2px;
  background: #52a8ff;
  opacity: 0;
  transition: opacity .16s;
}

.tree_list_item {
  padding-top: 0;
}

.tree_list_item::before {
  border-top: none;
  height: 3em;
  border-top: 1px solid transparent;
  background-clip: padding-box;
  content: '';
  position: absolute;
}

.tree_list_item_header {
  line-height: 2em;
  white-space: nowrap;
  position: relative;
  left: 5px;

  & span {
    line-height: 2.5em;
    display: inline-block;
  }
}

.tree_list_item_header::before {
  text-align: center;
  position: relative;
  top: -1px;
  margin-right: 5px;
  font-family: 'octicons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 12px;
  width: 12px;
  height: 12px;
  content: "\f0a3";
}

.tree_list_item_header_collapsed::before{
  content: "\f078" !important;
}

.tree_list_item_entries {
  position: static;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;

  & li {
    color: #73c990;
    padding-left: 17px;
  }

  & li::before {
    content: '';
    position: absolute;
  }
}

.tree_list_item_entries_repo::before {
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-family: 'octicons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 16px;
  width: 16px;
  height: 16px;
  content: var(--icon-location);
}

.tree_list_item_entries_notebook::before {
  margin-right: 5px;
  font-family: 'octicons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 16px;
  width: 16px;
  height: 16px;
  content: var(--icon-resource);
}

.tree_list_item_entries_collection::before {
  margin-right: 5px;
  font-family: 'octicons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 16px;
  width: 16px;
  height: 16px;
  content: var(--icon-collection);
}

.tree_list_item_entries_tenant::before {
  margin-right: 5px;
  font-family: 'octicons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 16px;
  width: 16px;
  height: 16px;
  content: var(--icon-tenant);
}

.tree_list_item_leaf {
  margin-left: 22px;
  color: #e2c08d;
}

.selected::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 25px;
  background-color: #27292c;
}

.selected * {
  position: relative;
}
