:root {

}

.tip_container {
  position: absolute;
  outline: none;
  z-index: 2;
  width: 16px;
  height: 16px;
}

.tip_link{

  & a {
    color: rgb(226, 192, 141);
    text-decoration: none;
  }
}

.animate {
  opacity:0;
  opacity: 1 \9; /*just in case ie*/
  -webkit-animation:fadein 1s ease-in 1, dance 2s ease-in-out infinite alternate;
  -moz-animation:fadein 1s ease-in 1, dance 2s ease-in-out infinite alternate;
  animation:fadein 1s ease-in 1, dance 2s ease-in-out infinite alternate;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

@keyframes dance {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
