:root {

  --primary-color: #73C990;
  /*--secondary-color: #6494ED;*/
  --secondary-color: #a3a8ae;

}

.svg {
  width: 220px;
  transition: transform 1s ease;
  animation: scale 1.5s infinite alternate 2s;

  & path {
    transition: transform 1s ease;
  }
}

.svg svg {
  transition: transform 1s ease;
}

.svg svg:hover{
  transform: scale(1.2);
}

.firefly_1 {
  fill: var(--primary-color);
  opacity: 0.5;
}

.firefly_2 {
  fill: var(--secondary-color);
  opacity: 0.5;
}

.firefly_3 {
  fill: var(--primary-color);
  opacity: 0.5;
}

.firefly_4 {
  fill: var(--secondary-color);
  opacity: 0.5;
}

.text{
  opacity:0;
  stroke-width:4;
}

.linechart {

  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  opacity: 0.5;
  stroke-width:1;
}

.linechart_overlay {
  position: absolute;
  width: 50px;
  width:0;
  height: 30px;
  background-color: rgb(22, 23, 25);
  top: 115px;
  right: 70px;
  animation: unfold 2s 1;
}

@keyframes unfold {
  0% {
    width: 50px;
  }
  50% {
    width: 25px;
  }
  100% {
    width: 0;
  }
}

@keyframes scale {
  to {
    transform: scale(1.04);
  }
}
