:root {

  --primary-color: #73C990;
  /*--secondary-color: #6494ED;*/
  --secondary-color: #a3a8ae;

}

.svg {
  width: 220px;
  transition: transform 1s ease;
  /*animation: scale 1s 2 alternate 3s, ryalla 1.5s infinite alternate 5s;*/
  animation: ryalla 1.5s infinite alternate 2s;

  & path {
    transition: transform 1s ease;
  }
}

.svg svg {

  transition: transform 1s ease;
}

.svg svg:hover{

  transform: scale(1.2);

  & .text{
    /*stroke: #73C990;
    stroke-width:3;
    opacity:0;*/
   /*animation:fadein ease-in infinite alternate;
   animation-fill-mode:forwards;
   animation-duration:2s;
   animation-delay: 1s;*/
  }

  & .firefly_1, & .firefly_2, & .firefly_3, & .firefly_4, & .linechart{
   /*animation:fadecolor ease-in infinite alternate;
   animation-fill-mode:forwards;
   animation-duration:2s;
   animation-delay: 1s;*/
  }
}

.st4{fill:none;stroke:#73C990;stroke-width:2;stroke-miterlimit:10;}
.st5{fill:none;stroke:#6B6B6B;stroke-width:2;}

.firefly_1 {
  fill: var(--primary-color);
  opacity: 0.5;
  /*transform: rotateX(44deg);
  transform: rotateY(14deg);
  animation: yalla 0.6s, scale 1s 2 alternate, ryalla 1.5s infinite alternate 3s;*/
}

.firefly_2 {
    fill: var(--secondary-color);
    opacity: 0.5;
  /*transform: rotateX(44deg);
  transform: rotateY(14deg);
  animation: yalla 0.6s, scale 1s 2 alternate, ryalla 1.5s infinite alternate 3s;*/
}

.firefly_3 {
  fill: var(--primary-color);
  opacity: 0.5;
  /*transform: rotateX(44deg);
  transform: rotateY(14deg);
  animation: yalla 0.6s, scale 1s 2 alternate, ryalla 1.5s infinite alternate 3s;*/
}

.firefly_4 {
  fill: var(--secondary-color);
  opacity: 0.5;
  /*transform: rotateX(44deg);
  transform: rotateY(14deg);
  animation: yalla 0.6s, scale 1s 2 alternate, ryalla 1.5s infinite alternate 3s;*/
}

.text{
  opacity:0;
  stroke-width:4;
}

.linechart {

  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  opacity: 0.5;
  stroke-width:1;
  /*transform: rotateX(44deg);
  transform: rotateY(14deg);
  animation: yalla 0.6s, scale 1s 2 alternate, ryalla 1.5s infinite alternate 3s;*/
}

.heart_rate {
  width: 220;
  position: relative;
  margin: auto;
  top: -155px;
}

.heart_svg {
  width: 45%;
  opacity: 0.6;
}

.linechart_overlay {
  position: absolute;
  width: 50px;
  width:0;
  height: 30px;
  background-color: rgb(22, 23, 25);
  top: 115px;
  right: 70px;
  animation: heartRateIn 2s 1;
}

@keyframes moveFast {
  to {
    transform: translate(20px, 0px);
  }
}

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: .2;}
}
@keyframes fadecolor {
    from { stroke:#a3a8ae;fill: #a3a8ae;opacity: 0.5;}
    to   { stroke:#73C990; fill: #73C990; opacity:1}
}

@keyframes heartRateIn {
  0% {
    width: 50px;
  }
  50% {
    width: 25px;
  }
  100% {
    width: 0;
  }
}

/*@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}*/

@keyframes yalla {
  to {
    transform: rotateX(0);
  }
}

@keyframes ryalla {
  to {
    transform: scale(1.04);
  }
}

@keyframes scale {
  to {
    transform: scale(1.15);
  }
}
