.container {
  position:relative;
  /* uncomment for equal width size: flex: 1;*/
  display: flex;
  flex-direction: column;
  padding: 0 1px;
  min-width: 50px;
}

.tabs_list_container {
  width:100%;
  max-width: 100%;
}

.tabs_list {
  height: 3em;
    background: #161719;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 0;
    position: relative;
    display: flex;
    -webkit-user-select: none;
    margin: 0;
    padding-left: 0;
    list-style: none;

}

.tabs_list::-webkit-scrollbar {
  display: none;
}

.tab_item {
    border-radius: 0;
    border-width: 0;
    flex: 0 0 auto;
    min-width: 3em;
    border-image: linear-gradient(#161719, #111314 1em) 0 0 0 1 stretch;
    padding-right: 0;
    position: relative;
    top: 0;
    max-width: 22em;
    min-width: 7em;
    height: 3em;
    font-size: inherit;
    color: rgba(163, 168, 174, 0.6);
    line-height: 3em;
    padding: 0;
    margin: 0;
    background-clip: content-box;
    transition: max-width 0.25s ease-in-out;
    display: inline-block;
}

.tab_item.actived{
  background-color: rgba(163, 168, 174, 0.1);
}

.tab_item.actived .tab_title{
  background-color: transparent;
  color: rgb(163, 168, 174);
}

.tab_item.actived:before{

  left: 0;
  border-radius: 0;
  top: 0;
  bottom: 0;
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: 2;
  top: 0px;
  left: 0px;
  bottom: 1px;
  width: 2px;
  /*width: 100%;*/
  /*height:2px;*/
  border-top-left-radius: inherit;
  border-radius: 1px 0;
  background: #73c990;
  opacity: 1;
  transition: opacity .16s;

}

.tab_item:after{

  border-left: none;
  border-top: none;
  border-radius: 0;
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: inherit;
  border-radius: 3px 3px 0 0;
  border: 1px solid #111314;
  border-bottom-color: #1d1f21;
  background-image: linear-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0));
  background-clip: content-box;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.06);
  transition: opacity .16s;
  opacity: 0;
}

.tab_title {
  -webkit-mask: none;
  margin-left: 1.25em;
  margin-right: 1.25em;
  padding: 0;
  position: relative;
  height: inherit;
  text-align: center;
  margin: 0 1em;
  border-bottom: 1px solid transparent;
  text-overflow: clip;
  background-color: #161719;
  background-clip: content-box;
  backface-visibility: hidden;
  overflow: hidden;
  white-space: pre;
}

.tab_close{
  top: .86em;
    right: .46em;
    width: 1.25em;
    height: 1.25em;
    line-height: 1.25;
    z-index: 2;
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    border-radius: 3px;
    overflow: hidden;
    transform: scale(0);
    transition: transform .08s;
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: default;


}

.tab_close:before{
  width: 1.25em;
    height: 1.25em;
    line-height: 1.25;
    content: "\f05d";
    position: absolute;
    font-size: 4em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    text-align: center;
    transform: translate(-37.5%, -37.5%) rotate(45deg) scale(0.33);
    pointer-events: none;
    font-family: 'octicons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 12px;
    width: 12px;
    height: 12px;
    content: "\f081";

}

.tabs_views {
  flex: 1;
  display: flex;
  min-height: 0;
  min-width: 0;
  position: relative;
  background-color: rgba(163, 168, 174, 0.1);
}

.tabs_view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  -webkit-user-select: none;

}

.tab_hidden {
  display: none;
}

.tree_view_resizer {
  left: 0px;
  width: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: col-resize;
  z-index: 3;
  -webkit-user-select: none;
}
